<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Gestion de Boutique</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&amp;family=Poppins:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css">

<body class="bg-gray-100">
    <div class="flex items-center justify-center w-full">
        <div class="search-bar flex items-center justify-center me-5 w-3/6 mt-2">
            <input id="inputClient" type="text" placeholder="Rechercher un client" class="rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm sm:text-base">
        </div>
        <button id="btnSearch" class="bg-blue-500 text-white px-3 py-2 rounded-lg">OK</button>
    </div>
    <main class=" rounded-xl bg-white p-5 shadow-sm flex flex-col main-content">
        <div class="bg-white p-5 rounded-lg">
            <div class="p-2 sm:p-6 md:p-8 mb-8 bg-blue-400">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 md:gap-6">
                    <!-- Carte Total des Dettes -->
                    <div class="stat-card rounded-lg p-2 sm:p-6 text-white font-normal text-lg sm:text-xl md:text-2xl flex flex-col justify-between">
                        <div class="flex flex-col justify-center space-y-4">
                            <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4 md:space-x-8">
                                <img id="photo" src="../../public/assets/avatar2.jpeg" alt="" class="w-24 h-24 sm:w-32 sm:h-32 md:w-36 md:h-36 rounded-full">
                                <div class="flex flex-col justify-between h-full text-center sm:text-left">
                                    <p>Prenom: <span id="prenom" class="ms-3 font-medium"> </span></p>
                                    <p>Nom: <span id="nom" class="ms-10 ps-2 font-medium"> </span></p>
                                    <p>Tel: <span id="telephone" class="ms-16 ps-2 font-medium"> </span></p>
                                    <p>Fonction: <span id="fonction" class="ps-1 font-medium"> </span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carte Demandes en Cours -->
                    <div class="stat-card rounded-lg p-4 sm:p-6 font-normal text-white text-lg sm:text-xl md:text-2xl flex flex-col justify-between">
                        <p>Montant Total: <span id="montantTotal" class="ms-10"> </span> fcfa</p>
                        <p>Montant Versé: <span id="montantVerse" class="ms-8"> </span> fcfa</p>
                        <p>Montant Restant: <span id="montantRestant" class="ms-2"> </span> fcfa</p>
                    </div>
                </div>
            </div>
            <div class="product-lists">
                <div class="product-list bg-white rounded-lg shadow p-4 mb-4">
                    <h2 class="font-semibold mb-2">Lister les articles disponibles</h2>
                    <input type="text" placeholder="Libelle" class="p-2 border rounded-lg w-full mb-2" spellcheck="false" data-ms-editor="true">
                    <div class="overflow-x-auto">
                        <table class="w-full">
                            <thead class="bg-blue-600 text-white">
                                <tr>
                                    <th class="p-2 text-center">
                                        <i class="fas fa-check-square"></i>
                                    </th>
                                    <th class="p-2">Article</th>
                                    <th class="p-2">Prix</th>
                                    <th class="p-2">Qte en stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2 text-center">
                                        <input type="checkbox" id="" class="form-checkbox h-4 w-4 text-blue-600">
                                    </td>
                                    <td class="p-2">Article 1</td>
                                    <td class="p-2">2000 CFA</td>
                                    <td class="p-2">15</td>
                                </tr>
                                <tr>
                                <!-- Ajoutez plus d'articles selon vos besoins -->
                            </tbody>
                        </table>
                    </div>
                    <div class="flex justify-center mt-4">
                        <button class="px-3 py-1 border rounded mr-1">&lt;</button>
                        <button class="px-3 py-1 border rounded mr-1 bg-blue-500 text-white">1</button>
                        <button class="px-3 py-1 border rounded mr-1">2</button>
                        <button class="px-3 py-1 border rounded">&gt;</button>
                    </div>
                </div>
                <div class="product-list bg-white rounded-lg shadow p-4">
                    <div class="flex justify-between items-center mb-4 flex-wrap">
                        <h3 class="text-xl font-bold mb-2 sm:mb-0">Liste de produits selectionné</h3>
                    </div>
                    <div class="mb-4 flex justify-end">
                        <p class="block mb-2 text-lg font-medium">Total: 40.000 FCFA</p>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="w-full">
                            <thead class="bg-blue-600 text-white">
                                <tr>
                                    <th class="p-2">ARTICLE</th>
                                    <th class="p-2">PRIX</th>
                                    <th class="p-2">QUANTITÉ</th>
                                    <th class="p-2">MONTANT</th>
                                    <th class="p-2">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2">Article 1</td>
                                    <td class="p-2">2.000</td>
                                    <td class="p-2">
                                        <div class="flex items-center justify-center">
                                            <button class="px-2 py-1 bg-gray-200 rounded-l">-</button>
                                            <input type="text" value="1" class="w-12 text-center border-t border-b" spellcheck="false" data-ms-editor="true">
                                            <button class="px-2 py-1 bg-gray-200 rounded-r">+</button>
                                        </div>
                                    </td>
                                    <td class="p-2">20.000</td>
                                    <td><button class="text-red-500">
                                            <i class="fas fa-trash"></i> Supprimer
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-2">Article 2</td>
                                    <td class="p-2">3.000</td>
                                    <td class="p-2">
                                        <div class="flex items-center justify-center">
                                            <button class="px-2 py-1 bg-gray-200 rounded-l">-</button>
                                            <input type="text" value="1" class="w-12 text-center border-t border-b" spellcheck="false" data-ms-editor="true">
                                            <button class="px-2 py-1 bg-gray-200 rounded-r">+</button>
                                        </div>
                                    </td>
                                    <td class="p-2">20.000</td>
                                    <td><button class="text-red-500">
                                            <i class="fas fa-trash"></i> Supprimer
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="w-full h-12 flex justify-between mt-4 flex-wrap">
                        <div class="flex justify-center mt-4 mb-2 sm:mb-0">
                            <button class="px-3 py-1 border rounded mr-1">&lt;</button>
                            <button class="px-3 py-1 border rounded mr-1 bg-blue-500 text-white">1</button>
                            <button class="px-3 py-1 border rounded mr-1">2</button>
                            <button class="px-3 py-1 border rounded">&gt;</button>
                        </div>
                        <button class="bg-blue-500 text-white px-3 rounded mt-2 sm:mt-0">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../../src/script.js"></script>
</body>
